h1, h2 {
  display: flex;
  align-self: center;
  justify-content: center;
  color: darkgreen;
  font-family: 'Jura', sans-serif;
}
h1 {
  text-shadow: 0px 0px 15px green;
}

body {
  display: flex;
  align-self: center;
  margin: 0;
  justify-content: center;
  background-color: black;
  font-family: 'Jura', sans-serif;
  text-align: center;
  color: darkgreen;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 35vh;
  background-color: black;
  padding: 25px;
  margin-top: 25vh;
  animation: shadows 4s ease-out infinite;
  animation-delay: 2s;
}

form {
  display: flex;
  align-self: center;
  justify-content: center;
  font-family: 'Jura', sans-serif;

}

button {
  background-color: darkgreen;
  box-shadow: 0 0 10px darkgreen;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-family: 'Jura', sans-serif;
}

input[type=text] {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid darkgreen;
  border-top: 1px solid darkgreen;
  box-shadow: 0 0 10px darkgreen;
  font-family: 'Jura', sans-serif;
}
input:focus{
  outline: none;
}

.decodeButton {
  background-color: rgb(255, 0, 0);
}

button:hover {
  cursor: pointer;
}

.instructions {
  text-align: left;
  font-size: 15px;
}

img {
  max-width: 300px;
  max-height: 300px;
}

canvas {
  display: block;
  position: absolute;
  z-index: -1;
}

@keyframes shadows {
  0%   { box-shadow: 0 0 0 black; }
  50%  { box-shadow: 0 0 25px darkgreen; }
  100% { box-shadow: 0 0 0 black; }
}