h1, h2 {
  display: flex;
  align-self: center;
  justify-content: center;
  color: lime;
  font-family: 'Jura', sans-serif;
}
h1 {
  text-shadow: 0px 0px 15px darkgreen;
}
h2 {
  color: red;
}

body {
  display: flex;
  align-self: center;
  margin: 0;
  justify-content: center;
  background-color: black;
  font-family: 'Jura', sans-serif;
  text-align: center;
  color: lime;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 60vh;
  background-color: black;
  padding: 25px;
  margin: 15vh 0;
  animation: shadows 4s ease-out infinite;
  animation-delay: 2s;
}

form {
  display: flex;
  align-self: center;
  justify-content: center;
  font-family: 'Jura', sans-serif;
  transition: width .35s ease-in-out;
}

button {
  background-color: green;
  box-shadow: 0 0 10px darkgreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-family: 'Jura', sans-serif;
}

input[type=text] {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid darkgreen;
  border-top: 1px solid darkgreen;
  box-shadow: 0 0 10px darkgreen;
  font-family: 'Jura', sans-serif;
  width: 200px;
  transition: width .35s ease-in-out;
}

input[type=text]:focus{
  outline: none;
  width: 370px
}

.decodeButton {
  background-color: rgb(255, 0, 0);
}

button:hover {
  cursor: pointer;
}

img {
  max-width: 300px;
  max-height: 300px;
}

canvas {
  display: block;
  position: absolute;
  z-index: -1;
}

@keyframes shadows {
  0%   { box-shadow: 0 0 0 black; }
  50%  { box-shadow: 0 0 25px rgb(0, 66, 0); }
  100% { box-shadow: 0 0 0 black; }
}

.progressBar {
  background-color: black;
  border: 1px solid darkgreen;
  position: relative;
  margin: 15px 0;
  height: 30px;
}

.progressDone {
  background: darkgreen;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease-out;
}
